/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/04/2017, 09:48:31 PM
    Author     : JuanCamilo
*/
nav ul li i {
    display: inline !important;
    margin-right: 8px;
}
.nav-wrapper{
    background-color: #fafafa !important;
}
.page-footer{
    background-color: #e0e0e0 !important;
}
.carousel-slider{
    margin-top: 16em;
    width: 600px;
    height: 200px !important;
    margin: auto;
}
.brand-logo{
    margin-left: 60px;
}